In [1]:
import pandas as pd
import numpy as np
from estimator_model.propensity_score import InversePorbWeighting, PropensityScore

from exp_data import coupon_dataset, meaningless_discrete_dataset, meaningless_discrete_dataset_

np.random.seed(2022)

## Try the trivial dataset. The true treatment effect is 3.

In [3]:
data, coef = meaningless_discrete_dataset(num=1000,
                                          confounder_n=2,
                                          treatment_effct=[2, 3],
                                          prob=[0.3, 0.7])
data.head()

   treatment       w_0       w_1   outcome
0          0 -0.603348 -0.337215  0.795487
1          1 -0.228919  0.941748  4.828660
2          1  1.250625 -0.675590  2.070163
3          0 -0.004900 -0.835539 -0.409200
4          1  0.632894  0.058976  5.112075

In [4]:
treatment = 'treatment'
outcome = 'outcome'
w = ['w_0', 'w_1']

In [5]:
ipw = InversePorbWeighting('LogisticR')
ate = ipw.estimate_ate(data, 'outcome', 'treatment', w)

In [6]:
# Error
print(f'The estimation error is {np.abs(ate - 3) / 3}')

The estimation error is 0.05566537069934988

## Try the coupon-amount dataset. The true treatment effect is 150.

In [7]:
n_users = 10000
df = coupon_dataset(n_users, with_income=True)
df.head()

   gender  coupon      amount      income  time_spent
0       1       1  504.695267  517.259674   60.469527
1       1       1  503.833114  517.168181   60.383311
2       1       1  497.694587  494.259992   59.769459
3       0       0  245.259153  477.792542   24.525915
4       0       1  400.853434  506.449489   50.085343

In [8]:
treatment = 'coupon'
outcome = 'amount'
w = ['gender', 'income']

In [9]:
ipw_ = InversePorbWeighting('LogisticR')
ipw_ate = ipw_.estimate_ate(df, outcome, treatment, w)
print(f'The estimation error is {np.abs(ipw_ate - 150) / 150}')

The estimation error is 1.0095933850395633

why this failed?

## Test new dataset.

In [5]:
d = meaningless_discrete_dataset_(num=10000, 
                                  confounder_n=2,
                                  treatment_effct=[1, 3, 4, 6],
                                  random_seed=12)
d['treatment'].value_counts()

1    3891
2    2480
3    2284
0    1345
Name: treatment, dtype: int64